@charset "UTF-8";
@font-face {
  font-family: star-wars cursive;
  src: url(../assets/fonts/starwars/Starjhol.ttf);
}

.stage3 {
  background-image: url(../assets/pics/space.jpg);
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.stars {
  position: absolute;
  display: none;
}

.logolar {
  width: 1920px;
}

.logolar div {
  margin: auto;
  text-align: center;
}

.logolar img {
  width: 10%;
  margin-top: 50px;
}

.bg {
  margin-top: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg #textH {
  font-family: star-wars cursive;
  stroke-dashoffset: 1000px;
  stroke-dasharray: 1000px;
  -webkit-animation: draw 5s forwards ease-in;
          animation: draw 5s forwards ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  fill-opacity: 0;
}

.bg1,
.bg2 {
  width: 300px;
  opacity: 1;
}

.bg1 {
  float: right;
  margin-right: 150px;
  opacity: 0;
  -webkit-animation: opacityIn ease-out 2s forwards;
          animation: opacityIn ease-out 2s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.bg2 {
  float: left;
  margin-left: 150px;
  opacity: 0;
  -webkit-animation: opacityIn ease-out 2s forwards;
          animation: opacityIn ease-out 2s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.lightSaber2, .lightSaber {
  position: relative;
}

.lightSaber {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.lightSaber2 {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.lightSaber .plasma {
  position: absolute;
  border-radius: 12px 12px 0 0;
  background-color: red;
  width: 12px;
  height: 0px;
  bottom: -110px;
  left: 320px;
  -webkit-box-shadow: 0 0 30px #e51115;
          box-shadow: 0 0 30px #e51115;
  -webkit-box-shadow: 0 0 50px #e51115;
          box-shadow: 0 0 50px #e51115;
  box-shadow: 0 0 30px #e51115;
  background: #e51115;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#e51115), color-stop(30%, white), color-stop(47%, #fefefe), color-stop(71%, #fefefe), to(#e51115));
  background: linear-gradient(to right, #e51115 0%, white 30%, #fefefe 47%, #fefefe 71%, #e51115 100%);
  /* W3C */
  -webkit-animation: lightSaber2 4s linear forwards;
          animation: lightSaber2 4s linear forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.lightSaber2 .plasma2 {
  position: absolute;
  border-radius: 12px 12px 0 0;
  background-color: #3784d6;
  width: 11px;
  height: 0px;
  right: 315px;
  bottom: -74px;
  background: #3784d6;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#3784d6), color-stop(30%, #fefefe), color-stop(47%, #fefefe), color-stop(71%, #fefefe), to(#3784d6));
  background: linear-gradient(to right, #3784d6 0%, #fefefe 30%, #fefefe 47%, #fefefe 71%, #3784d6 100%);
  /* W3C */
  -webkit-animation: lightSaber  4s linear forwards;
          animation: lightSaber  4s linear forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.electricity {
  margin: 0 auto;
  width: 575px;
  position: absolute;
  left: 370px;
  top: 130px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  z-index: 3;
}

#svgElectric {
  position: absolute;
  opacity: 0.7;
}

.clear {
  margin-top: 6%;
  width: 100%;
  height: 300px;
  z-index: 99;
}

.menuler {
  margin: auto;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menuler .menuBir img {
  width: 72%;
  margin-left: 230px;
  opacity: 0;
  -webkit-animation: opacityAndMargin 1s linear forwards;
          animation: opacityAndMargin 1s linear forwards;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.menuler .menuİki img {
  width: 70%;
  margin-right: 230px;
  opacity: 0;
  -webkit-animation: opacityAndMargin2 1s linear forwards;
          animation: opacityAndMargin2 1s linear forwards;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.menuler .menuBir,
.menuler .menuİki {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuler .menuBir {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuler .menuİki {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.menuler .menuBir {
  width: 32%;
}

.menuler .menuİki {
  width: 30%;
}

.menuler .fiyatlar {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuler .fiyatlar div {
  height: 110px;
  font-size: 80px;
  font-family: teko;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menuler .fiyatlar div:nth-child(1) {
  width: 299px;
}

.menuler .fiyatlar div:nth-child(1) .miktar {
  border-radius: 0 12px 12px 0;
  width: 0px;
  margin-left: 300px;
  background-color: #EEDB00;
  -webkit-animation: etiket 1s linear forwards;
          animation: etiket 1s linear forwards;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.menuler .fiyatlar div:nth-child(1) .miktar {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.menuler .fiyatlar div:nth-child(1) .fiyat {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  opacity: 0;
  -webkit-animation: opacityIn ease-out 0.2s forwards;
          animation: opacityIn ease-out 0.2s forwards;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

.menuler .fiyatlar div:nth-child(3) {
  width: 299px;
}

.menuler .fiyatlar div:nth-child(3) .miktar2 {
  border-radius: 0 12px 12px 0;
  width: 0px;
  background-color: #EEDB00;
  -webkit-animation: etiket 1s linear forwards;
          animation: etiket 1s linear forwards;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.menuler .fiyatlar div:nth-child(3) .fiyat2 {
  opacity: 0;
  -webkit-animation: opacityIn ease-out 0.2s forwards;
          animation: opacityIn ease-out 0.2s forwards;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

.menuler .fiyatlar span {
  width: 1%;
}

.menuler .menu1, .menuler .menu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuler .menu1 {
  margin-left: 230px;
  opacity: 0;
  -webkit-animation: opacityAndMargin 1s linear forwards;
          animation: opacityAndMargin 1s linear forwards;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.menuler .menu2 {
  margin-right: 230px;
  opacity: 0;
  -webkit-animation: opacityAndMargin2 1s linear forwards;
          animation: opacityAndMargin2 1s linear forwards;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.menuler .menu1 img {
  width: 90px;
}

.menuler .menu2 img {
  width: 90px;
}

.close {
  -webkit-animation: close 2s linear forwards;
          animation: close 2s linear forwards;
}

@-webkit-keyframes opacityInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes lightSaber {
  0% {
    height: 0px;
  }
  90% {
    -webkit-box-shadow: 0 0 50px #3784d6;
            box-shadow: 0 0 50px #3784d6;
  }
  100% {
    -webkit-box-shadow: 0 0 100px #3784d6;
            box-shadow: 0 0 100px #3784d6;
    height: 350px;
  }
}

@keyframes lightSaber {
  0% {
    height: 0px;
  }
  90% {
    -webkit-box-shadow: 0 0 50px #3784d6;
            box-shadow: 0 0 50px #3784d6;
  }
  100% {
    -webkit-box-shadow: 0 0 100px #3784d6;
            box-shadow: 0 0 100px #3784d6;
    height: 350px;
  }
}

@-webkit-keyframes lightSaber2 {
  0% {
    height: 0px;
  }
  90% {
    -webkit-box-shadow: 0 0 50px #e51115;
            box-shadow: 0 0 50px #e51115;
  }
  100% {
    -webkit-box-shadow: 0 0 100px #e51115;
            box-shadow: 0 0 100px #e51115;
    height: 350px;
  }
}

@keyframes lightSaber2 {
  0% {
    height: 0px;
  }
  90% {
    -webkit-box-shadow: 0 0 50px #e51115;
            box-shadow: 0 0 50px #e51115;
  }
  100% {
    -webkit-box-shadow: 0 0 100px #e51115;
            box-shadow: 0 0 100px #e51115;
    height: 350px;
  }
}

@-webkit-keyframes draw {
  0% {
    stroke-dashoffset: 1000px;
  }
  65% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000px;
  }
  65% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes opacityAndMargin {
  0% {
    opacity: 0;
    margin-left: 230px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes opacityAndMargin {
  0% {
    opacity: 0;
    margin-left: 230px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@-webkit-keyframes opacityAndMargin2 {
  0% {
    opacity: 0;
    margin-right: 230px;
  }
  100% {
    opacity: 1;
    margin-right: 0px;
  }
}

@keyframes opacityAndMargin2 {
  0% {
    opacity: 0;
    margin-right: 230px;
  }
  100% {
    opacity: 1;
    margin-right: 0px;
  }
}

@-webkit-keyframes etiket {
  0% {
    width: 0px;
  }
  100% {
    width: 300px;
  }
}

@keyframes etiket {
  0% {
    width: 0px;
  }
  100% {
    width: 300px;
  }
}

@-webkit-keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes close {
  0% {
    height: 1080px;
  }
  100% {
    height: 0px;
  }
}

@keyframes close {
  0% {
    height: 1080px;
  }
  100% {
    height: 0px;
  }
}
/*# sourceMappingURL=stage3.css.map */